
body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.6;
    color:black;
    text-align: center;
}
body.dark-mode {
    background-color: #333333;
    color: #ffffff;
  }
  
#theme-toggle {
    margin: 0 auto;
    align-items: center;

}

.toggle-button {
    border: none;
    background: transparent;
    cursor: pointer;
    display: inline-block;
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid #333;
    transition: transform 0.3s ease;
    margin-left: 10px;
    vertical-align: middle;
}

.toggle-button.expanded {
    transform: rotate(180deg);
}

#theme-toggle {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    margin-top: 20px;
  }
  
  
  .toggle-label {
    font-size: 16px;
    color: inherit;
  }
  
  .switch {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: 0.4s;
    border-radius: 24px;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:checked + .slider:before {
    transform: translateX(26px);
  }
*, 
*:before,
*:after {
box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0 auto;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    height: 450px;
}
.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 70vh;
    background: url("../images/intro.jpg") center no-repeat;
    -webkit-background-size:cover;
    background-size:cover;
}
.intro__inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;

}
.intro__title{
    color: black;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
   }
.header{
    padding-top: 30px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo{
    font-size: 30px;
    font-weight: 700;
    color: black;
    transition: color .2s linear;
    text-decoration: none;
}
.nav {
    font-size: 14px;
    text-transform: uppercase;
}
.nav__link{
    display: inline-block;
    vertical-align: top;
    margin: 0 15px;
    position: relative;
    color: black;
    text-decoration: none;
    transition: color .1s linear;
}
.nav__link:after{
    content: "";
    display: block;
    width: 100%;
    opacity: 0;
    height: 3px;
    background-color: #9fa8ff;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: opacity .1s linear;
}
.nav__link:hover{
    color:#9fa8ff;
}
.header__logo:hover{
    color:#9fa8ff;
}
.nav__link:hover:after{
    opacity: 1;
}

.form, .step {
    margin: 0 auto;
    align-items: center;
}
.cart-link, .back-link {
    display: block;
    margin-top: 20px;
    font-size: 18px;
    text-decoration: none;
    background-color: #007bff;
    padding: 10px;
    text-align: center;
    width: 200px;
    margin: 0 auto;
}

.cart-link:hover, .back-link:hover {
    background-color: #0056b3;
}

input[type="text"], input[type="number"], input[type="password"], input[type="email"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="text"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="email"]:focus, input[type="date"]:focus {
    outline: none;
    border-color: #007bff;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: bold;
}

.invalid-feedback {
    color: red;
    font-size: 12px;
}

button {
    font-size: 16px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-secondary {
    background-color: #6c757d;
    color: white;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}


footer {
    background-color: black;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
}

.footer-content p {
    margin: 5px 0;
    color: #9FA8FF;
}

.creators p {
    font-weight: bold;
    color: #5E32A6;
}

.creators ul {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

.creators ul li {
    color: #FFFFFF;
    margin-bottom: 5px;
}
.cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.cart-item img {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}
